- function getImageName(name) {
-     if (!name) return '';
-     return name.replace('-', ' ');
- }
- var name = current.source.replace(/\..*$/g, '');
- var data = images[name] || {};
- function getAdjancentImages() {
-   var images = public.thumbs._contents;
-   index = public.thumbs._contents.indexOf(current.source + '.jpg');
-   if (index < 0) return [];
-   var left = index === 0 ? images.length - 1 : index - 1;
-   var right = index === images.length - 1 ? 0 : index + 1;
-   var left = images[left];
-   var right = images[right];
-   return [left && left.replace(/\..*$/g, ''), right && right.replace(/\..*$/g, '')];
- }
- var adjancentImages = getAdjancentImages();
- var left = adjancentImages[0];
- var right = adjancentImages[1];

.single-image.responsive
  header.toolbar
    a.back-to-gallery(href="/#gallery")
      span.icon.icon-left-open
      span Gallery
  img#image(src="../images/#{current.source}.jpg", width="100%")

  .data(style="text-align: center;")
    .nav
      a.left.icon-left-open(href="#{left}", title="Previous")
      a.right.icon-right-open(href="#{right}", title="Next")
    h1
      span #{getTitle()}
    .data
      span.dim #{data.dim}
      span.sold #{data.sold ? ' (sold)' : ''}
  .bottom
    include ../_social.jade

script.
  (function() {
    function goTo(location) {
      window.name = window.scrollY;
      window.location = location;
    }

    var left = "#{left}";
    var right =  "#{right}";
    var image = document.getElementById('image');
    Hammer(image)
    .on('swiperight', function() {
      if (left.length) goTo(left);
      return true;
    })
    .on('swipeleft', function() {
      if (right.length) goTo(right);
      return true;
    });

    arrow = {left: 37, up: 38, right: 39, down: 40 };

    if (!document.body.addEventListener) return;

    document.body.addEventListener('keydown', function(e) {
      var key = e.keyCode || e.which;

      if (key === arrow.left && left.length) {
        goTo(left);
        return true;
      }
      else if (key === arrow.right && right.length) {
        goTo(right);
        return true;
      }

      return false;
    });
  }());
