- function getImageName(name) {
-     if (!name) return '';
-     return name.replace('-', ' ');
- }
- var name = current.source.replace(/\..*$/g, '');
- var data = images[name] || {};
- function getAdjancentImages() {
-   var images = public.thumbs._contents;
-   index = public.thumbs._contents.indexOf(current.source + '.jpg');
-   if (index < 0) return [];
-   var left = index === 0 ? images.length - 1 : index - 1;
-   var right = index === images.length - 1 ? 0 : index + 1;
-   var left = images[left];
-   var right = images[right];
-   return [left && left.replace(/\..*$/g, ''), right && right.replace(/\..*$/g, '')];
- }
- var adjancentImages = getAdjancentImages();
- var left = adjancentImages[0];
- var right = adjancentImages[1];

h1 #{getTitle()}

section.image
  img#image(src="../images/#{current.source}.jpg", width="100%")

  div.data
    div.price(class=(data.sold ? 'sold' : ''))
      span.dim #{data.dim}
      span.amount #{data.price ? '€' + data.price : ''}
      | #{data.sold ? ' sold' : ''}


script.
  (function() {
    window.onscroll = function() {
      window.onscroll = undefined;
      window.name = ''
    };

    function goTo(location) {
      window.name = window.scrollY;
      window.location = location;
    }

    var left = "#{left}";
    var right =  "#{right}";
    var image = document.getElementById('image');
    Hammer(image)
    .on('swipeleft', function() {
      if (left.length) goTo(left);
      return true;
    })
    .on('swiperight', function() {
      if (right.length) goTo(right);
      return true;
    });

    arrow = {left: 37, up: 38, right: 39, down: 40 };

    if (!document.body.addEventListener) return;
    image.addEventListener('load', function() {
      if (!isNaN(window.name)) {
        window.scrollTo(0, window.name);
        window.name = '';
      }
    });

    document.body.addEventListener('keydown', function(e) {
      var key = e.keyCode || e.which;

      if (key === arrow.left && left.length) {
        goTo(left);
        return true;
      }
      else if (key === arrow.right && right.length) {
        goTo(right);
        return true;
      }

      return false;
    });
  }());

include ../_social.jade
