- function getImageName(name) {
-     if (!name) return '';
-     return name.replace('-', ' ');
- }

h1 #{ getTitle() }

section.gallery
  for image in public.thumbs._contents
    - var name = image.replace(/\..*$/g, '');
    - var data = images[name] || {};

    div.image
      a(href="view/#{name}")
        img(src="thumbs/#{image}", style="")
      div.overlay(class=(data.sold ? 'sold' : ''))
        div.data
          div
            span.name #{getImageName(name)}
            span.sold #{data.sold ? ' (sold)' : ''}
          div.dim #{data.dim}

include ./_social.jade
