// div.background


- function getImageName(name) {
-     if (!name) return '';
-     return name.replace('-', ' ');
- }

div.parallax
  section#title
    h1 Paintings
      div.subtitle by Svanimir Steiner

    div.front
      include ./_social.jade

  section#gallery
    h1 Gallery
    section.gallery
      for image in public.thumbs._contents
        - var name = image.replace(/\..*$/g, '');
        - var data = images[name] || {};

        div.image
          a(href="view/#{name}")
            img(src="thumbs/#{image}", style="")
          div.overlay(class=(data.sold ? 'sold' : ''))
            div.data
              div.name #{getImageName(name)}
              div.price(class=(data.sold ? 'sold' : ''))
                span.amount #{data.price ? '€' + data.price : ''}
                | #{data.sold ? ' sold' : ''}
  section#contact
    h1 Contact

    div.content
      h3 Svanimir Steiner
      address Zagreb, Croatia

      a.send(href="http://www.google.com/recaptcha/mailhide/d?k=01Cm6vmr6ngWI_CA8AbZu0wg==&amp;c=g8us3OKJdh-VxtdVJB3_UESvMQeCKY9Ucdc3yg4OCp8=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Cm6vmr6ngWI_CA8AbZu0wg\75\75\46c\75g8us3OKJdh-VxtdVJB3_UESvMQeCKY9Ucdc3yg4OCp8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title="Reveal this e-mail address") Send an Email

    div.front
      include ./_social.jade
